<html layout:decorate="~{layout/main}">
    <head>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="row">
                <h3>Products</h3>
                <span>
                    <span class="fw-bold">Menu:</span>
                    <span th:text="${menu.name}"></span>
                </span>
                
            </div>
            <div>
                <a th:href="@{/products/new/{id}(id=${menu.id})}" class="btn btn-primary">
                    <span class="bi bi-plus-circle"></span>
                    <span class="bi bi-fork-knife"></span>
                    Add product
                </a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.description}"></td>
                        <td >
                            <a th:href="@{/products/{mid}/{id}(id=${product.id},mid=${menuId})}"
                                class="btn btn-primary">
                                <span class="bi bi-eye"></span>
                                Show
                            </a>
                        </td>
                        <td>
                            <a th:href="@{/products/edit/{menuId}/{id}(menuId=${menuId},id=${product.id})}"
                                class="btn btn-warning">
                                <span class="bi bi-pencil-square"></span>
                                Edit
                            </a>
                        </td>
                        <td>
                            <a th:href="@{/products/{menuId}/{id}(menuId=${menuId},id=${product.id})}"
                                class="btn btn-danger">
                                <span class="bi bi-trash3"></span>
                                Delete
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
