<html layout:decorate="~{/auth/layout}">
<body>
<div layout:fragment="content">
  <div class="card shadow-lg p-4 p-md-5">
    <div class="text-center mb-4">
      <div class="logo-container">
        <i class="bi bi-shield-lock-fill"></i>
      </div>
      <h3 class="fw-bold text-dark m-0">New User</h3>
    </div>

    <form
      th:action="@{/auth/register}"
      th:object="${newUserRq}"
      method="POST">
      <div class="mb-3">
        <label for="username" class="form-label text-secondary fw-semibold small">
          Correo Electrónico
        </label>
        <div class="input-group">
          <input
            th:field="*{username}"
            type="text"
            class="form-control" placeholder="Email" required>
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label text-secondary fw-semibold small">
          Contraseña
        </label>
        <input
          th:field="*{password}"
          type="password" class="form-control" placeholder="••••••••" required>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label text-secondary fw-semibold small">
          Confirma Contraseña
        </label>
        <input
          th:field="*{passwordConfirmation}"
          type="password" class="form-control" placeholder="••••••••" required>
      </div>

      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
      </div>

    </form>
  </div>

</div>
</body>
</html>
